h1 { color : rgb(22, 87, 52); }

.bg-primary{
    background-color: pink !important;
    background-image: url(../assets/img/bg-picture.jpeg);
    background-repeat: no-repeat;
    background-size:cover 
}
p#redred{
    color: rgb(175, 207, 48);
    background-color: pink;
    color: black;
    border: 20px solid;
    background-image: url(../assets/img/bg-picture.jpeg);
    background-size: cover;
    border-color: black;
}
.expedu_icon { 
color:bisque;
}
.expedu_icon:hover{
    background-color: blue; 
    color:  black;
}
body{ 
    font-family: 'Noto Sans TC', sans-serif;
}

ol.anuka{
    list-style-type: upper-alpha;
}

hr.blank{
    margin: 50px 0px;
}

ol.anuka>li:hover{
    background-color:gainsboro;
}

table.Anukatable{
    width: 80%;
    text-align: center;
    background-color: antiquewhite;
    border: 5px solid black;
}

}
table.Anukatable td{
    text-align: center;
    border: 5px solid black;
    border: 5px solid black;
}
table.Anukatable th{
    background-color: pink;
    color: aliceblue;
    text-align: center;
    border: 5px solid black;
}
table.Anukatable tr:nth-child(even){
    background-color: plum;
}
table.Anukatable tr:nth-child(odd){
    background-color: pink;
}
