h1 { color : rgb(22, 87, 52); }

.bg-primary{
    background-color: pink !important;
    background-image: url(../assets/img/bg-picture.jpeg);
    background-repeat: no-repeat;
    background-size: ;

}
p#redred{
    color: rgb(175, 207, 48);
    background-color: pink;
    color: black;
    border: 20px solid;
    background-image: url(../assets/img/bg-picture.jpeg);
    background-size: cover;
    border-color: black;
}
.expedu_icon { 
color:bisque;
}
.expedu_icon:hover{
    background-color: blue; 
    color:  black;
}
body{ 
    font-family: 'Noto Sans TC', sans-serif;
}