h1 { color : rgba(226, 110, 199, 0.333); }
.table-80{
    width:80% ;

}
.bg-primary{
    background-color: pink !important;
    background-image: url(../assets/img/pink.jpeg);
    background-repeat: no-repeat;
    background-size:cover 
}
.pinkpink{
    color: pink;
}
div#redred{
    padding: 50px ; 
    border: 5px solid white;
    color: rgb(228, 111, 174);
    background-color: pink;
    color: rgb(219, 153, 210);
    border: 20px solid;
    background-image: url(../assets/img/pink.jpeg);
    background-size: cover;
    border-color: rgb(244, 213, 232);
    border-radius: 15px;
}
.expedu_icon { 
color:rgb(233, 190, 226);
}
.expedu_icon:hover{
    background-color: rgb(240, 157, 216); 
    color:  rgb(246, 7, 183);
}
body{ 
    font-family: 'Noto Sans TC', sans-serif;
}

ol.anuka{
    list-style-type: upper-alpha;
}

hr.blank{
    margin: 50px 0px;
}

ol.anuka>li:hover{
    background-color:gainsboro;
}

table.Anukatable{
    width: 80%;
    text-align: center;
    background-color: antiquewhite;
    border: 5px solid black;
}

}
table.Anukatable td{
    text-align: center;
    border: 5px solid black;
    border: 5px solid black;
}
table.Anukatable th{
    background-color: pink;
    color: aliceblue;
    text-align: center;
    border: 5px solid black;
}
table.Anukatable tr:nth-child(even){
    background-color: plum;
}
table.Anukatable tr:nth-child(odd){
    background-color: pink;
}
table.Anukatable td{
    text-align: center;
    border:1px solid black;
}
